#divTabPasswords {
    display: grid;
    grid-template-columns: 16px 1fr auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto 32px auto auto auto;
    align-items: center;
    justify-items: stretch;
    column-gap: 2px;
    row-gap: 2px;
}

/******************************************/

#lblPublicPart {
    grid-column: 1 / span 6;
    grid-row: 1;
}

#txtPublicPart {
    grid-column: 2 / span 4;
    grid-row: 2;
    width: auto;
}

#spnPublicPartSize {
    margin-left: 2px;
    grid-column: 6;
    grid-row: 2;
}

#divPasswordPublicPartActions {
    display: inline;
    justify-self: end;
    grid-column: 2 / span 5;
    grid-row: 3;
}

/******************************************/

#lblAlphabet {
    margin-top: 8px;
    grid-column: 1 / span 6;
    grid-row: 4;
}

#txtAlphabet {
    grid-column: 2;
    grid-row: 5;
    width: auto;
}

#spnAlphabetSize {
    margin-left: 2px;
    grid-column: 3;
    grid-row: 5;
}

#divPasswordAlphabetActions {
    display: inline;
    grid-column: 4 / span 3;
    grid-row: 5;
}

/******************************************/

#lblAlphabetLength {
    margin-top: 8px;
    grid-column: 1 / span 6;
    grid-row: 6;
}

#numOutputSizeRange {
    grid-column: 2 / span 2;
    grid-row: 7;
}

#numOutputSizeNum {
    grid-column: 4 / span 3;
    grid-row: 7;
}

/******************************************/

#lblPassword {
    grid-column: 1 / span 6;
    grid-row: 9;
}

#txtResultPassword {
    grid-column: 2 / span 4;
    grid-row: 10;
    width: auto;
}

#spnResultPasswordLength {
    margin-left: 2px;
    grid-column: 6;
    grid-row: 10;
}

#divResultPasswordActions {
    display: inline;
    justify-self: end;
    grid-column: 2 / span 5;
    grid-row: 11;
}
