#divTabReEncrypt {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto;
    justify-content: stretch;
    align-content: stretch;
}

/******************************************/

#txtReEncryptSource {
    grid-column: 1;
    grid-row: 1;
}

#divReEncryptSourceActions {
    grid-column: 1;
    grid-row: 2;
    align-self: start;
    justify-self: end;
}

/******************************************/

#divReEncryptActions {
    margin-left: 4px;
    margin-right: 4px;
    grid-column: 2;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    align-self: start;
    justify-self: stretch;
}

#lblReEncryptFrom {
    grid-column: 1;
    grid-row: 1;
}

#cboReEncryptFrom {
    grid-column: 1;
    grid-row: 2;
}

#lblReEncryptTo {
    margin-top: 12px;
    grid-column: 1;
    grid-row: 3;
}

#cboReEncryptTo {
    grid-column: 1;
    grid-row: 4;
}

#btnReEncrypt {
    margin-top: 12px;
    margin-bottom: 32px;
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
}

/******************************************/

#txtReEncryptTarget {
    grid-column: 3;
    grid-row: 1;
}

#divReEncryptTargetActions {
    grid-column: 3;
    grid-row: 2;
    align-self: start;
    justify-self: end;
}
