#divTabPasswords {
    display: grid;
    grid-template-columns: 16px auto 1fr auto auto auto;
    grid-template-rows: auto 16px auto auto auto auto auto auto auto auto 24px auto auto auto;
    align-items: center;
    justify-items: stretch;
    column-gap: 2px;
    row-gap: 2px;
}

#btnClearAllPasswordInfo {
    grid-column: 1 / span 7;
    grid-row: 1;
}

/******************************************/

#lblPublicPart {
    grid-column: 1 / span 6;
    grid-row: 3;
}

#txtPublicPart {
    grid-column: 2 / span 4;
    grid-row: 4;
    width: auto;
    min-width: 0;
}

#spnPublicPartSize {
    margin-left: 2px;
    grid-column: 6;
    grid-row: 4;
}

#divPasswordPublicPartActions {
    display: inline;
    justify-self: end;
    grid-column: 2 / span 5;
    grid-row: 5;
}

/******************************************/

#lblAlphabet {
    margin-top: 8px;
    grid-column: 1 / span 6;
    grid-row: 6;
}

#txtAlphabet {
    grid-column: 2 / span 2;
    grid-row: 7;
    width: auto;
    min-width: 0;
}

#spnAlphabetSize {
    margin-left: 2px;
    grid-column: 4;
    grid-row: 7;
}

#divPasswordAlphabetActions {
    display: inline;
    justify-self: end;
    grid-column: 5 / span 2;
    grid-row: 7;
}

/******************************************/

#lblAlphabetLength {
    margin-top: 8px;
    grid-column: 1 / span 6;
    grid-row: 8;
}

#numOutputSizeRange {
    grid-column: 2 / span 3;
    grid-row: 9;
}

#numOutputSizeNum {
    grid-column: 5 / span 2;
    grid-row: 9;
}

/******************************************/

#lblPasswordVersion {
    grid-column: 1 / span 2;
    grid-row: 10;
}

#cboPasswordVersion {
    grid-column: 3 / span 3;
    grid-row: 10;
    justify-self: start;
}

/******************************************/

#lblPassword {
    grid-column: 1 / span 6;
    grid-row: 12;
}

#txtResultPassword {
    grid-column: 2 / span 4;
    grid-row: 13;
    width: auto;
    min-width: 0;
}

#spnResultPasswordLength {
    margin-left: 2px;
    grid-column: 6;
    grid-row: 13;
}

#divResultPasswordActions {
    display: inline;
    justify-self: end;
    grid-column: 2 / span 5;
    grid-row: 14;
}
